<footer>
  <div class="info" style="background-color: #000000;">
    <div class="container">
      <div class="row">
        <div class="logo col-md-3 col-sm-6">
          <h1><img src="/assets/logo-white.png" alt="logo"></h1>
          <p>Proyecto de obtención de información y clasificación de municipios españoles.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Repositorios</h1>
          <p><a href="https://github.com/julidpt/ProyectoDeComputacion-Frontend" target="_blank">Front-end</a></p>
          <p><a href="https://github.com/julidpt/ProyectoDeComputacion-Backend" target="_blank">Back-end</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Contacto</h1>
          <p><a href="mailto:merle6665@gmail.com">merle6665@gmail.com</a></p>
          <p><a href="mailto:jlasso98@gmail.com">jlasso98@gmail.com</a></p>
          <p><a href="mailto:alfonsovega1005@gmail.com">alfonsovega1005@gmail.com</a></p>
          <p><a href="mailto:juliandpt98@gmail.com">juliandpt98@gmail.com</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h1>Linkedin</h1>
          <p><a href="https://www.linkedin.com/in/david-merle-sanromán-58b5a5150" target="_blank">David Merle</a></p>
          <p><a href="https://www.linkedin.com/in/juanlasso98" target="_blank">Juan Lasso de la Vega</a></p>
          <p><a href="https://www.linkedin.com/in/alfonso-vega-garcía" target="_blank">Alfonso Vega</a></p>
          <p><a href="https://www.linkedin.com/in/julián-de-pablo-torremocha" target="_blank">Julián de Pablo</a></p>
        </div>
      </div>
      <div class="row">
        <p>© 2021 Infopueblo. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>