$font-size: 1.5em;
$margin-footer: 8%;
$font-size-media: 0.6em;

.navbar {
  z-index: 99999;
  padding-left: 8%;
}

a {
  margin: 1em 0.5em 1em;
  color: lightgray;
}

a:hover {
  color: gray;
}

.row {
  padding-top: 5em;

  .col-md-4 {
    padding: 1em 1em 0;
  }

  img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 3em;
  }

  h1 {
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
  }

  p {
    margin-bottom: 0.5em;
    padding-right: 20%;
    color: grey;
  }

  a {
    margin-left: 0;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: grey;
  }

  a:hover {
    color: lightgray;
  }
}
