<div class="page-wrap">
  <div class="container">
    <div class="row logo">
      <h1 class="d-flex justify-content-center">
        <a routerLink="/">
          <img src="/assets/logo.png" alt="logo">
        </a>
      </h1>
    </div>
    <div class="row content">
      <div>
        <h3 class="signin-text">Cambia tu contraseña</h3>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div *ngIf="goodreq" class="alert alert-success" role="alert">
            Contraseña modificada
          </div>
          <div *ngIf="badreq" class="alert alert-danger" role="alert">
            No se pudo realizar la operación
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" id="password" name="password" class="form-control" required>
            <span class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">Introduzca la contraseña</span>
          </div>
          <div class="submitButton">
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block mx-auto"> Cambiar contraseña </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>